@import "tailwindcss";

@theme {
  --color-gcc-teal: #224548;
  --color-gcc-teal-dark: #1a3538;
  --color-gcc-sand: #ffddb4;
  --color-gcc-cream: #f0fcfd;
}

body {
  background-color: var(--color-gcc-cream);
  font-family: 'Poppins', sans-serif;
}

.glass-card {
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(12px);
  border: 1px solid #eaf6f7;
  box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.05);
}

.radio-custom {
  accent-color: var(--color-gcc-teal);
}